#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.footer {
  border: 5px solid yellow;
}

.header {
  border: 5px solid yellow;
  padding: 5rem;
  text-align: left;
}

.nav {
  border: 5px solid darkgoldenrod;
  text-align: left;
}

.links {
  margin-left: 2rem;
  color: white; 
}

.articlesLink {
  margin-left: 2rem;
}


.homepagePara{
  border: 5px solid darkorange;
}

.userLoginMain{
  border: 5px solid antiquewhite;
}


.articleHead {
  border: 5px solid darkorange;
}


.articleCard {
  display:flex;
  height: 8rem;
  justify-content: center;
}

.wholeArticleCard{
  padding: 0.5rem;
  margin-block: 1rem ;
  padding-block: 1rem;
  border: 5px solid darkgoldenrod;
}
  
.articleTitle{
  width: 8rem;
  font-size: small;
}

.subinfo{
  width: 10rem;
  font-size:x-small
}

.leftArticleCard{
  text-align: center;
  font-size: small;
}

.articleCardButton{
  width:8rem;
  height: 3.5rem;
}

.article{
  border: 2px solid lightgreen;
}

.comments{
  border: 2px solid orange;
  padding: 2rem;
  
}

.commentsh3{
  text-align: left;
}

.commentCard{
  border: 2px solid darkorange;
}

.addAComment{
  border: 5px solid darkgoldenrod;
  height: 17rem;
}

.successfulCommentCard{
  border: 2px solid green;
}

.errorMessage{
  color: red
}
